MONGODB_URI=********
JWT_SECRET=********
CORS_ORIGIN=********
PORT=********

TWILIO_ACCOUNT_SID=********
TWILIO_AUTH_TOKEN=********
TWILIO_SERVICE_SID=********
TWILIO_PHONE_NUMBER=********
WHATSAPP_TEST_MODE=********
BOOKING_REMINDER_CRON=********
BOOKING_REMINDER_TZ=********

MIDTRANS_MERCHANT_ID=********
MIDTRANS_SERVER_KEY=Mid-server-********
MIDTRANS_CLIENT_KEY=Mid-client-********
MIDTRANS_IS_PRODUCTION=********
